{% extends "layout.html"%}

<!--wlaściwy dla tej sctrony content-->

{% block content %}
    <h1>Moja strona i tylko MOJA! </h1>
    {% for post in posts.items %}
        <!--stary teks przed przerobieniem - pokazuje mechanikę-->
        <!--<h1>{{ post.title }}</h1>-->
        <!--<p>by {{ post.autor }} on {{ post.date }}</p>-->
        <!--<p>{{ post.content }}</p>-->
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <!--article-img odwołuje się do css i sprawdza rozmiar itp-->
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small> <!--string-f-time -format daty jaki chcemy wyświetlić-->
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor%}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    <!-- dla strony o numerze iterowanej po kolejnych stronach(ilość stron po bokach pierwsza, ostania, po jednej od obecnej) -->
        {% if page_num %}
            {% if posts.page == page_num %} <!-- jeśli obecna strona == stronie-num to ona będzie trochę inaczej wyglądać niż reszta-->
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>

            {% endif %}
        {% else %}
        {% endif %}
    {% endfor %}
{% endblock content %}


