{% extends "layout.html"%}

<!--wlaściwy dla tej sctrony content-->

{% block content %}
    <h1>Moja strona i tylko MOJA! </h1>
    {% for post in posts %}
        <!--stary teks przed przerobieniem - pokazuje mechanikę-->
        <!--<h1>{{ post.title }}</h1>-->
        <!--<p>by {{ post.autor }} on {{ post.date }}</p>-->
        <!--<p>{{ post.content }}</p>-->
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <!--article-img odwołuje się do css i sprawdza rozmiar itp-->
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small> <!--string-f-time -format daty jaki chcemy wyświetlić-->
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor%}
{% endblock content %}


